:global(.button) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid transparent;

    cursor: pointer;
    transition: all .2s;
}

:global(.button_theme_light) {
    border-color: #d4a373;
}

:global(.button_theme_dark) {
    border-color: #415a77;
}