@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

.menu {
    position: fixed;

    width: 100vw;

    transition: all .2s linear;

    z-index: 10;
}

.menu_theme_light {
    background-image: linear-gradient(#f5ebe0 30%, transparent);
}

.menu_theme_dark {
    background-image: linear-gradient(#0e0f0f 30%, transparent);
}

.content {
    display: flex;
    justify-content: space-between;

    padding: 25px 0 40px;
    margin: 0 10%;
}

.navigation {
    display: flex;
    gap: 70px;
}

.clickable {
    cursor: pointer;
}

.active {
    composes: clickable;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.language {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}

.theme {
    cursor: pointer;
}