.content {
    display: flex;
    justify-content: center;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;

    cursor: pointer;

    z-index: 5;
}

.background_theme_dark {
    background-color: rgba(0, 0, 0, .7);
}

.background_theme_light {
    background-color: rgba(94, 82, 79, 0.7);
}

.window {
    position: fixed;

    display: flex;

    width: 80vw;
    height: 60vh;

    margin-top: 10%;

    z-index: 6;
}

.window_theme_dark {
    background-color: #232833;
}

.window_theme_light {
    background-color: #dacfc4;
}

.video_section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.video {
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;

    width: 70%;

    padding: 20px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 20px;

    opacity: .5;
}

.icon {
    justify-self: end;
    align-self: flex-end;

    background-position: center;
    background-size: cover;

    cursor: pointer;

    width: 70px;
    height: 70px;

    transition: all .2s linear;
}

.icon_theme_dark {
    background-image: url('../../images/icons8-github-480.svg');
}

.icon_theme_light {
    background-image: url('../../images/icons8-github-481.svg');
}

.about {
    height: 63%;
}

.btn__try {
    position: absolute;
    bottom: 20px;
    right: 20px;

    width: 170px;
    height: 50px;

    text-decoration: none;
}

.btn__try_theme_dark {
    background-color: #6290c5;
}

.btn__try_theme_light {
    background-color: #d4a373;
}

.cross {
    position: absolute;

    right: -60px;
    top: -60px;

    width: 50px;
    height: 50px;

    cursor: pointer;

    background-image: url('../../images/icons8-cross-97.png');
    background-size: contain;
}

.about__heading{
    padding-top: 30px;
}