:global(.text_theme_light) {
    color: #3d3a37;

    transition: all .2s linear;
}

:global(.text_theme_dark) {
    color: #e0e1dd;

    transition: all .2s linear;
}

:global(.text_theme_light .text_size_h6) {
    font-weight: 600;
}

:global(.text_theme_light .text_size_h5) {
    font-weight: 600;
}