@keyframes float-up {
    0% {
        top: 30px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes float-right {
    0% {
        left: -30px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

:global(.float_up) {
    position: relative;
    top: 30px;
    opacity: 0;
    animation: float-up 1.5s ease forwards;
}

:global(.float_right) {
    position: relative;
    left: -30px;
    opacity: 0;
    animation: float-right 1.5s ease forwards;
}